//Primary
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

//Shadow
$boxShadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 

//Gradient 
$gradientColor: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));


