/*Footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: $darkBlue;
    .attribution {
        font-size: 11px; text-align: center;
    }
    .attribution a {
        color: white;
    }
}