* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 375px;
    font-family: $fontRaleway;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-color: $veryDarkBlue;
    background-image: url(../../images/bg-desktop.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.item1 {
    flex-grow: 1;
    background: $darkBlue;
    border-radius: 10px 100px 10px 10px;
    .cont-item1 {
        padding: 20px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .cont-img-item1 {
        width: 180px;
        height: auto;
        display: flex;

        margin-top: 10px;
        justify-content: space-between;
        .img-ico {
            background-color: $veryDarkBlue;
            padding: 15px;
            border-radius: 10px;
        }
    }
}
.item2 {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: auto;
    background: $darkBlue;
    border-radius: 15px;
    .cont-item2 {
        padding: 20px 30px 20px 30px;
    }
    .txt-item2 {
        font-size: $fontSizeBody;
        color: $grayishBlue;
        span {
            color: $paleBlue;
        }
    }
    .progress-bar {
        width: 100%;
        padding: 10px 0 10px 0;
        .progress {
            height: 17px;
            border-radius: 15px;
            position: relative;
            background-color: $veryDarkBlue;
            .bar {
                background: $gradientColor;
                width: calc(70%);
                height: 10px;
                left: 6px;
                top: 4.1px;
                position: absolute;
                border-radius: 10px;
            }
            .point-bar {
                position: absolute;
                left: calc(70% - 5px);
                top: 5px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
}
.progress-memory {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .memory {
       color: $paleBlue;
       font-size: 14;
       font-weight: $fonWeightTitle;
    }
} 

