* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: $fontRaleway;
    background-color: $veryDarkBlue;
    background-image: url(../../images/bg-desktop.png);
    background-size: 100% 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    @media screen and (max-width:375px) {
        background-position: bottom;
        background-color: $veryDarkBlue;
        background-image: url(../../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .container {
            max-width: 955px;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
            position: absolute;
            top: 34%;
            @media screen and (max-width:375px) {
                display:flex;
                flex-direction: column;
                top: 25%;
            }
            .item1 {
                flex-grow: 1;
                background: $darkBlue;
                border-radius: 10px 100px 10px 10px;
                @media screen and (max-width:375px) {
                    width: 100%;
                }
                .cont-item1 {
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 30px;
                }
                .cont-img-item1 {
                    width: 180px;
                    height: auto;
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;
                    .img-ico {
                        background-color: $veryDarkBlue;
                        padding: 15px;
                        border-radius: 10px;
                        transition:all .3s ease;
                        &:hover {
                            transform: translateY(-3px);
                        }
                    }
                }
            }
            .item2 {
                flex-grow: 4;
                width: 250px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background: $darkBlue;
                border-radius: 10px;
                @media screen and (max-width:375px) {
                    width: 100%;
                }
                .cont-item2 {
                    width: 100%;
                    padding: 30px 35px 30px 35px;
                    position: relative;
                    .txt-item2 {
                        font-size: $fontSizeBody;
                        color: $grayishBlue;
                        span {
                            color: $paleBlue;
                        }
                    }
                    .progress-bar {
                        width: 100%;
                        padding: 15px 0 5px 0;
                        .progress {
                            height: 17px;
                            border-radius: 15px;
                            position: relative;
                            background-color: $veryDarkBlue;
                            .bar {
                                width: calc(70%);
                                height: 11.3px;
                                background: $gradientColor;
                                border-radius: 10px;
                                position: absolute;
                                top: 3.2px;
                                left: 2px;
                            }
                            .point-bar {
                                width: 8.2px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: white;
                                position: absolute;
                                top: 4.5px;
                                left: calc(70% - 8px);
                            }
                        }
                    }
                    .progress-memory {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .memory {
                            font-size: 12px;
                            font-weight: $fonWeightTitle;
                            color: $paleBlue;
                        }
                    }
                    .popup {
                        width: 150px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        color: $grayishBlue;
                        background-color: white;
                        border-radius: 10px;
                        position: absolute;
                        top: -40px;
                        right: 35px;
                        span {
                            font-size: 35px;
                            font-weight: bold;
                            margin-right: 3px;
                            color: black;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            border-top: 20px solid transparent;
                            border-bottom: 20px solid transparent;
                            border-left: 20px solid white;
                            border-right: 20px solid transparent;
                            bottom: -8px;
                            right: -20px;
                            transform: rotate(-45deg);
                            @media screen and (max-width: 375px) {
                                display: none;
                            }
                        }
                        @media screen and (max-width: 375px) {
                            left: 27%;
                            top: 100px;
                        }
                    }
                }
            }
        }
    }
    /*Footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 5px;
    .attribution {
        font-size: 11px; text-align: center;
    }
    .attribution a {
        color: white;
    }
}
}





